.container-cb{
display: flex;
height: 500px;

}
    

    
.cb-body{

height: 480px;
width: 100%;
padding-left: 32px;
margin-left: 24px;
padding-right: 32px;
margin-right: 24px;
}

.login{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4%;
}


.login-entrar{
  height: 450px;
  width: 48%;
  padding: 5%;
  background-color: #f1f1f1;
  border-radius: 20px;
   
}

.login-entrar div{
 margin-bottom: 40px;
   
}

.login-cadastrar{
height: 450px;
width: 48%;
padding: 5%;
background-color: #f1f1f1;
border-radius: 20px;

}

.login-cadastrar div{
  margin-bottom: 40px;  
  }


.topo_texto{
  
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
